<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user</title>
</head>
<body>
    <h2> Form to add new user</h2>
    <form method="POST" action="/user/new">
        <input name="username" placeholder="username" type="text"><br><br>
        <input name="email" type="email" placeholder="email"><br><br>
        <input name="password" type="password" placeholder="password"><br><br>
        <button> Submit</button>
    </form>
</body>
</html>